/* Card.css */
.card-image-container {
  width: 100%;
  max-width: 300px;
  margin: 5px auto;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: "Arial", sans-serif;
  margin-bottom: 20px; /* Additional padding underneath the container */
}

.card-image {
  width: 100%;
  border-radius: 10px 10px 0 0;
  margin-bottom: 10px;
}

.card-name {
  font-size: 1.2rem;
  margin: 4px 0;
  color: #333;
}

.card-email {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 4px;
}

.card-about {
  font-size: 0.8rem;
  color: #666;
  line-height: 1.2;
  margin-bottom: 4px;
}

.card-subjects {
  font-size: 0.8rem;
  color: #666;
  line-height: 1.2;
}

.card-text {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.matchButton {
  padding: 8px 16px;
  background-color: #084887;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.matchButton:hover {
  background-color: #86EAE5;
}

.UserProfile_title__oyJS1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px; /* Reduced margin */
  padding-top: 5px; /* Reduced padding */
}

@media (max-width: 768px) {
  .card-image-container {
    padding: 5px;
    margin-bottom: 15px; /* Additional padding underneath the container for smaller screens */
  }

  .card-text {
    padding: 5px;
  }

  .matchButton {
    padding: 6px 12px;
  }

  .UserProfile_title__oyJS1 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    padding-top: 1px; /* Further reduced padding */
  }
}