/* Form.module.css */
.align-items-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: Linen;
}

.form {
  width: 95%; /* Just under the full width of the page */
  max-width: 600px; /* Maximum width for larger screens */
  padding: 20px; /* Increased padding for a professional look */
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.formLabel {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #4a4a4a;
}

.inputField,
.textAreaField,
.selectField {
  width: 100%;
  padding: 10px;
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: #f0f0f0;
  color: #333;
}

.textAreaField {
  resize: vertical;
}

.update-profile-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
  padding-top: 5px;
}

.update-profile-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.update-profile-form button {
  padding: 10px 20px;
  background-color: #084887;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.update-profile-form button:hover {
  background-color: #86EAE5;
}

@media (max-width: 768px) {
  .form {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
  }

  .update-profile-form {
    padding: 5px;
  }

  .inputField,
  .textAreaField,
  .selectField {
    padding: 8px;
    margin-bottom: 8px;
    font-size: 12px;
  }

  .update-profile-form button {
    padding: 8px 16px;
  }

  .update-profile-title {
    font-size: 1.2rem;
    margin-bottom: 5px;
    padding-top: 1px;
  }
}